{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OYChatBot</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    <header class="header shadow-sm">
      <div class="container">
        <div class="nav-header">
          <div class="nav-main">
            <div class="menu-btn">
              <button id="open-sidebar">
                <i class="fas fa-bars" style="font-size: 1.5rem"></i>
              </button>
            </div>
            <div class="nav-logo">
              OYE<span style="color: #121212 !important">CHATBOT</span>
            </div>
          </div>

          <nav class="navbar-container">
            <div class="dropdown">
              <div
                class="img-round-nav dropdown-toggle"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  src="{% static 'images/user.png' %}"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div
                class="dropdown-menu shadow-sm"
                id="dropdownMenuTop"
                aria-labelledby="dropdownMenuButton"
              >
                <a class="dropdown-item" href="#"
                  ><i
                    class="fas fa-user text-primary"
                    style="font-size: 1.1rem"
                  ></i>
                  {{request.user.username}}</a
                >
                <a class="dropdown-item" href="#"
                  ><i
                    class="fas fa-cogs text-primary"
                    style="font-size: 1.1rem"
                  ></i>
                  Settings</a
                >
                <a class="dropdown-item" href="{% url 'logout' %}"
                ><i
                  class="fas fa-sign-out-alt text-primary"
                  style="font-size: 1.1rem"
                ></i>
                Log out</a
              >
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="sidebar-nav shadow-sm" id="sidebar">
      <div class="container-fluid py-3">
        <button id="close-sidebar">
          <i class="fas fa-times" style="font-size: 1.5rem"></i>
        </button>
        <div class="sub-heading my-3 text-primary">
          OYE<span style="color: #121212 !important">CHATBOT</span>
        </div>
        <div class="sidebar-menu">
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'addIntents' %}" class="nav-link">Dashboard</a>
            </li>
            <li>
              <a href="{% url 'addIntents' %}" class="nav-link">Intents</a>
            </li>
            <li>
              <a href="{% url 'addIntents' %}" class="nav-link">Integration</a>
            </li>
            <li>
              <a href="{% url 'addIntents' %}" class="nav-link">Plans</a>
            </li>
            <li>
              <a href="{% url 'addIntents' %}" class="nav-link">Intents</a>
            </li>
            <li>
              <a href="{% url 'addIntents' %}" class="nav-link">Intents</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="main" role="main">{% block main %} {% endblock %}</main>
    <footer class="footer-alt">
      <div class="container">
        <div class="py-3 text-center" style="font-size: 12px">
          &copy; oyechatbot.com
        </div>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static '/js/app.js' %}"></script>
    <script>
      window.setTimeout(function () {
        $(".alert")
          .fadeTo(500, 0)
          .slideUp(500, function () {
            $(this).remove();
          });
      }, 2000);
    </script>
  </body>
</html>
